@mixin themeColor() {

        $primary50:             #e5f6f4 !global;
        $primary100:            #bfe9e4 !global;
        $primary200:            #94dad3 !global;
        $primary300:            #69cbc1 !global;
        $primary400:            #48bfb3 !global;
        $primary500:            #28b4a6 !global;
        $primary600:            #24ad9e !global;
        $primary700:            #1ea495 !global;
        $primary800:            #189c8b !global;
        $primary900:            #0f8c7b !global;
        $primaryA100:           #befff5 !global;
        $primaryA200:           #8bffed !global;
        $primaryA400:           #58ffe5 !global;
        $primaryA700:           #3effe1 !global;

        $accent50:              #f8fcec !global;
        $accent100:             #edf8cf !global;
        $accent200:             #e1f3af !global;
        $accent300:             #d5ee8f !global;
        $accent400:             #cceb77 !global;
        $accent500:             #c3e75f !global;
        $accent600:             #bde457 !global;
        $accent700:             #b5e04d !global;
        $accent800:             #aedd43 !global;
        $accent900:             #a1d732 !global;

        $complementary50:       #e5e9eb !global;
        $complementary100:      #bfc8cc !global;
        $complementary200:      #95a3aa !global;
        $complementary300:      #6a7e88 !global;
        $complementary400:      #4a636f !global;
        $complementary500:      #2a4755 !global;
        $complementary600:      #25404e !global;
        $complementary700:      #1f3744 !global;
        $complementary800:      #192f3b !global;
        $complementary900:      #0f202a !global;
}
