@mixin themeColor() {

        $primary50:             #e6f6f4 !global;
        $primary100:            #c1e9e4 !global;
        $primary200:            #97dad3 !global;
        $primary300:            #6dcbc1 !global;
        $primary400:            #4ec0b3 !global;
        $primary500:            #2fb5a6 !global;
        $primary600:            #2aae9e !global;
        $primary700:            #23a595 !global;
        $primary800:            #1d9d8b !global;
        $primary900:            #128d7b !global;
        $primaryA100:           #c0fff5 !global;
        $primaryA200:           #8dffec !global;
        $primaryA400:           #5affe4 !global;
        $primaryA700:           #41ffdf !global;

        $accent50:              #e6e9f2 !global;
        $accent100:             #c0c8df !global;
        $accent200:             #96a4ca !global;
        $accent300:             #6c7fb5 !global;
        $accent400:             #4d63a5 !global;
        $accent500:             #2d4895 !global;
        $accent600:             #28418d !global;
        $accent700:             #223882 !global;
        $accent800:             #1c3078 !global;
        $accent900:             #112167 !global;

        $complementary50:         #ebf0fa !global;
        $complementary100:        #ccdaf3 !global;
        $complementary200:        #aac1eb !global;
        $complementary300:        #88a8e3 !global;
        $complementary400:        #6f96dd !global;
        $complementary500:        #5583d7 !global;
        $complementary600:        #4e7bd3 !global;
        $complementary700:        #4470cd !global;
        $complementary800:        #3b66c7 !global;
        $complementary900:        #2a53be !global;

}
