@include form-group-state-variant('has-error', $error);
@include form-group-state-variant('success', $success);
@include form-group-state-variant('has-warning', $warning);

.form-group {
    & .material-input {
        color: $primary;
    }
    &.is-focused .control-label {
        color: $primary;
    }
}

fieldset {
    border-color: $textDivadersBlack;
}

.form-group.single-line {
    input {
        &[type="email"],
        &[type="password"],
        &[type="text"],
        &[type="number"],
        &[type="date"],
        &[type="datetime"],
        &[type="datetime-local"],
        &[type="tel"],
        &[type="time"] {
            & {
                background-color: transparent;
            }
        }
    }
}
