@import "../tools/material-colors";

$primary:                 $primary400 !default;
$primaryDark:             $primary600 !default;
$primaryLight:            $primary300 !default;

$accent:                  $accent500 !default;
$accentDark:              $accent700 !default;
$accentLight:             $accent300 !default;

$complementary:           $complementary500 !default;
$complementaryDark:       $complementary800 !default;
$complementaryLight:      $complementary200 !default;

$black:                   #000000 !default;
$white:                   #ffffff !default;

$textPrimaryBlack:        rgba($black, 0.77) !default;
$textSecondaryBlack:      rgba($black, 0.44) !default;
$textDisabledBlack:       rgba($black, 0.24) !default;
$textDivadersBlack:       rgba($black, 0.12) !default;

$textPrimaryWhite:        rgba($white, 1) !default;
$textSecondaryWhite:      rgba($white, 0.7) !default;
$textDisabledWhite:       rgba($white, 0.5) !default;
$textDivadersWhite:       rgba($white, 0.12) !default;

$link-color:              $accent900 !default;
$link-hover-color:        darken($accent900, 10%) !default;

$success:                 #81c784 !default;
$info:                    #5bc0de !default;
$warning:                 #f0ad4e !default;
$error:                   #d9534f !default;

$text-color:              $textPrimaryBlack !default;
$body-bg:                 $white !default;
$selection-bg:            $accent !default;
$selection-text-color:    $white !default;

$greyscale50:             #FAFAFA !default;
$greyscale100:            #F5F5F5 !default;
$greyscale200:            #EEEEEE !default;
$greyscale300:            #E0E0E0 !default;
$greyscale400:            #BDBDBD !default;
$greyscale500:            #9E9E9E !default;
$greyscale600:            #757575 !default;
$greyscale700:            #616161 !default;
$greyscale800:            #424242 !default;
$greyscale900:            #212121 !default;

$inputBgColor:            $white;
