<div class="container">
    <div class="row">
        <div class="col-xs-12 space-between center">
            <h3 class="color text-secondary-black">{{ $ctrl.searchHint ? 'Todos os resultados para "' + $ctrl.searchHint + '"' : '' }}</h3>
            <div class="v-align-children right" ng-show="$ctrl.searchHint">
                <span class="color text-secondary-black">Limpar Filtros</span>
                <button class="btn type-flat icon-24" ng-click="$ctrl.load()">
                        <i class="material-icons">close</i>
                    </button>
            </div>
            <!-- FILTRADO POR CATEGORIA + REGIÃO -->
            <!--h1 class="v-align-children">
                  <a data-ui-sref="main.home" class="color text-secondary-black caption">
                      Todos os produtos e serviços /
                  </a>
                  <div class="full-width">
                      <span class="color text-primary">{{$ctrl.searchHint}}</span>
                      <span class="caption color text-secondary-black mg-lt-15 mg-rt-15">●</span>
                      <span class="caption color text-secondary-black" style="font-weight: 400">em</span>
                      <div class="caption form-group mg-0-force" style="display: inherit;">
                          <div class="relative">
                              <div class="select-input">
                                  <select id="Region"
                                          class="form-control color text-secondary-black"
                                          name="Region"
                                          ng-model="Region"
                                          style="border-width: 0 0 1px 0; padding: 0 30px 0 0; border-radius: 0; height: 34px;">

                                        <option value="">todas as regiões</option>
                                        <option value="hidraulica">Venda Nova (BH)</option>
                                        <option value="camidacaseira">Vanda Nova (BH)</option>
                                        <option value="camidacaseira">Vedna Nova (BH)</option>
                                  </select>

                                  <i class="material-icons caret">keyboard_arrow_down</i>

                                  <span class="material-input"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </h1 -->
        </div>
    </div>
    <div class="row banners pd-tp-30 pd-bt-30">
        <div class="col-xs-12 col-sm-8">
            <div class="carousel relative mg-tp-30-xssm-down" ng-init="mBannerActive = 1">
                <a class="banner-content" href="" ng-show="mBannerActive == 1">
                    <img class="full-width" src="imgs/banner-01.jpg" alt="">
                </a>
                <a class="banner-content" href="http://www.globalpeace.com.br/filie-se/" ng-show="mBannerActive == 2">
                    <img class="full-width" src="imgs/banner-02.jpg" alt="">
                </a>
                <a class="banner-content" href="https://conta.mobi/globalpeace/" ng-show="mBannerActive == 3">
                    <img class="full-width" src="imgs/banner-03.jpg" alt="">
                </a>
                <div class="btn-group controllers">
                    <button id="mainB" class="btn type-flat icon-48 no-active-feedback" ng-click="mBannerActive > 1 ? mBannerActive = mBannerActive - 1 : mBannerActive = 3">
                        <i class="material-icons sz-48">keyboard_arrow_left</i>
                    </button>
                    <button id="mainF" class="btn type-flat icon-48 no-active-feedback" ng-click="mBannerActive < 3 ? mBannerActive = mBannerActive + 1 : mBannerActive = 1">
                        <i class="material-icons sz-48">keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="carousel relative mg-tp-30-xssm-down" ng-init="bannerActive = 1">
                <a class="banner-content" href="" ng-show="bannerActive == 1">
                    <img class="full-width" src="imgs/banner-04.jpg" alt="">
                </a>
                <a class="banner-content" href="" ng-show="bannerActive == 2">
                    <img class="full-width" src="imgs/banner-05.jpg" alt="">
                </a>
                <div class="btn-group controllers">
                    <button id="secB" class="btn type-flat icon-48 no-active-feedback" ng-click="bannerActive > 1 ? bannerActive = bannerActive - 1 : bannerActive = 2">
                        <i class="material-icons sz-48">keyboard_arrow_left</i>
                    </button>
                    <button id="secF" class="btn type-flat icon-48 no-active-feedback" ng-click="bannerActive < 2 ? bannerActive = bannerActive + 1 : bannerActive = 1">
                        <i class="material-icons sz-48">keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{'loading full-page': $ctrl.loading}"></div>
    <div class="row main-list" id="adsView">
        <div ng-repeat="ad in $ctrl.ads">
            <div class="col-xs-12 hidden-md-down">
                <a data-ng-click="$ctrl.openAdDetail(ad)" class="card block mg-bt-15 interactive">
                    <div class="card-body pd-15 color text-primary-black" ng-class="{'loading sm': $ctrl.loadingAd == ad.id}">
                        <div class="space-between center">
                            <div class="v-align-children text-nowrap lg-main-list-line-part pd-15">
                                <div class="texts mg-lt-5">
                                    <span class="block text-ellipsis" title="{{ad.name}}">{{ad.name}}</span>
                                    <span class="caption block color text-secondary-black" title="{{ad.category}}">{{ad.category}}</span>
                                </div>
                            </div>
                            <div class="full-width lg-main-list-line-part pd-lt-15 pd-rt-15">
                                <p>{{ad.description}}</p>
                            </div>
                            <div class="v-align-children text-nowrap color text-secondary-black lg-main-list-line-part pd-lt-30 pd-rt-15">
                                <div class="v-align-children text-nowrap mg-rt-15" style="text-align:center">
                                    <i class="material-icons sz-18">photo_library</i>
                                    <br/><i>Ver Imagens</i>
                                </div>
                            </div>
                            <div class="v-align-children text-nowrap color text-secondary-black lg-main-list-line-part pd-lt-30 pd-rt-15" style="text-align:center">
                                <div class="v-align-children text-nowrap mg-rt-15">
                                    <i class="material-icons sz-18">thumb_up</i>
                                    <small class="mg-lt-5 reacts-btn-icon-24">{{ad.liked}}</small>
                                </div>
                                <div class="v-align-children text-nowrap mg-rt-15">
                                    <i class="material-icons sz-18">thumb_down</i>
                                    <small class="mg-lt-5 reacts-btn-icon-24">{{ad.disliked}}</small>
                                </div>
                                <div class="v-align-children text-nowrap">
                                    <i class="material-icons sz-18">message</i>
                                    <small class="mg-lt-5 reacts-btn-icon-24">{{ad.comments}}</small>
                                </div>
                                <br/><i>Ver Avaliações</i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 hidden-lg-up">
                <div class="card mg-bt-15 interactive">
                    <div class="card-header">
                        <div class="left">
                            <div class="texts">
                                <span class="wrap block text-break-all">{{ad.name}}</span>
                                <span class="wrap caption block color text-secondary-black text-break-all">{{ad.category}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pd-rt-15 pd-lt-15">
                        <span>{{ad.description}}</span>
                    </div>
                    <div class="card-footer">
                        <div class="right text-right color text-secondary-black">
                            <div class="v-align-children text-nowrap mg-rt-15">
                                <i class="material-icons sz-18">thumb_up</i>
                                <small class="mg-lt-5 reacts-btn-icon-24">1204</small>
                            </div>
                            <div class="v-align-children text-nowrap mg-rt-15">
                                <i class="material-icons sz-18">thumb_down</i>
                                <small class="mg-lt-5 reacts-btn-icon-24">1204</small>
                            </div>
                            <div class="v-align-children text-nowrap">
                                <i class="material-icons sz-18">message</i>
                                <small class="mg-lt-5 reacts-btn-icon-24">1204</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>