.display-1 {
    font-size: 34px;
    font-weight: 400;
    &.fw-300 {
        font-size: 33px;
        font-weight: 300;
    }
}
.display-2 {
    font-size: 45px;
    font-weight: 400;
    &.fw-300 {
        font-size: 44px;
        font-weight: 300;
    }
}
.display-3 {
    font-size: 56px;
    font-weight: 400;
    &.fw-300 {
        font-size: 55px;
        font-weight: 300;
    }
}
