.main-search {
    &.form-group {
        transition: opacity 375ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s, transform 375ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
        transform-origin: 50% 50%;
        nav & {
            transform: scale(0.8);
            opacity: 0.4;
        }
        @media (min-width: $screen-md-min + px) {
            transform-origin: 100% 0;
        }
    }

    input.form-control {
        height: 50px;
        padding: 0 58px;
        background-color: rgba(255,255,255,0.3);
        transition: opacity 375ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s, transform 375ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
        nav & {
            border-width: 0;
        }
    }
    input + i {
        position: absolute;
        top: 13px;
        left: 20px;
        z-index: 2;
    }
    button.btn {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 2;
        transition: opacity 275ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s, transform 275ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
        nav & {
            pointer-events: none;
            opacity: 0;
            transform: translateX(-24px);
        }
    }

    nav &.is-focused {
        & {
            opacity: 1;
            transform: scale(1);
        }
        button.btn {
            opacity: 1;
            transform: translateX(0);
            pointer-events: auto;
            transition: opacity 175ms cubic-bezier(0.0, 0.0, 0.2, 1) 0.1s, transform 175ms cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #fff;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #fff;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #fff;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:   #fff;
    }
}
