<div class="generic-backdrop color text-secondary-black active">
    <close class="absolute-total-size" ng-click="close()"></close>
    <div class="container">
        <div class="row">
            <close class="absolute-total-size" ng-click="close()"></close>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4" style="top: 90px;">
                <div class="card mg-0-force">
                    <div class="card-header">
                        <div class="left">
                            <div class="texts">
                                <span class="headline color text-primary">Escolha uma Opção</span>
                            </div>
                        </div>
                        <div class="right">
                            <button type="button" class="btn type-flat icon-24" ng-click="close()">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                    <div class="card-part pd-15 text-right">
                        <button type="button" 
                            class="btn full-width" 
                            ng-disabled="$ctrl.loading" 
                            ng-click="$ctrl.openSignin()"
                        >
                            ACESSAR CONTA
                        </button>
                        <span>&nbsp;</span>
                        <button type="button"
                            class="btn full-width" 
                            ng-disabled="$ctrl.loading"
                            ng-click="$ctrl.openRegister()"
                        >
                            ANUNCIE JÁ!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
