<!doctype html>
<html lang="pt" ng-app>

<head>
    <meta charset="utf-8">

    <title>Global Peace adFinder</title>
    <meta name="description" content="Encontre produtos e serviços na sua região">
    <meta name="author" content="GlobalPeace">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body ng-class="{'modal-on' : showLogin || showCategories || showNewAccount || showAddRating }" ng-init="userLogged = false">
    <div class="container-fluid pd-0 bg-color primary color text-primary-white">
        <navbar>
            <nav class="container pd-tp-30 pd-bt-30 hidden-sm-down">
				<div class="space-between center">
					<a href="index.html" class="color text-primary-white full-width hidden-xssm-down">
						<span class="headline">AdFinder</span>
					</a>
					<div class="main-search form-group mg-bt-0 full-width" ng-class="{'is-focused' : mainSearchFocus}">
						<div class="relative clearfix">
							<input id="inputMain"
								class="form-control color text-primary-white"
								type="text"
								name="inputMain"
                                ng-focus="mainSearchFocus = true;"
                                ng-blur="mainSearchFocus = false;"/>
                            <i class="material-icons color text-disabled-white">search</i>
                            <button type="button" class="btn type-flat icon-24 color-white">
                                <i class="material-icons">arrow_forward</i>
                            </button>

						</div>
					</div>
					<div class="full-width v-align-children text-right btn-group">
						<button type="button" class="btn type-flat color-white" ng-click="showCategories = true">
							<span>Categorias</span>
						</button>
						<button type="button" class="btn type-flat color-white" ng-click="showLogin = true" ng-show="userLogged == false">
							<span>Entrar</span>
						</button>
                        <div class="dropdown on-hover" ng-class="{'open' : profileOptions}" ng-show="userLogged == true">
                            <button type="button" class="btn type-flat color-white dropdown-toggle" ng-click="profileOptions = !profileOptions">
                                <span class="mg-lt-15">Minha conta</span>
                                <i class="material-icons">arrow_drop_down</i>
    						</button>
                            <ul class="dropdown-menu right text-left" style="width: 290px;">
                                <li class="v-align-children pd-15">
        							<span class="color text-primary title text-ellipsis" title="Renan Zózimo">Renan Zózimo</span>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Minha conta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Meus serviços e produtos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Status de solicitações</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Moderações administrativas</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" class="v-align-children text-right" ng-click="userLogged = false">
                                        <span class="mg-rt-5">Sair</span>
                                        <i class="material-icons">exit_to_app</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
            </nav>
            <nav class="pd-tp-30 pd-bt-5 hidden-md-up">
                <div class="clearfix">
                    <div class="col-xs-12">
                        <div class="space-between center mg-bt-5">
                            <a href="index.html" class="color text-primary-white headline mg-rt-15" style="flex-shrink: 0;">Ad</a>
                            <div class="main-search form-group mg-bt-0 full-width" ng-class="{'is-focused' : mainSearchFocus}">
        						<div class="relative clearfix">
        							<input id="inputMain"
        								class="form-control color text-primary-white"
        								type="text"
        								name="inputMain"
                                        ng-focus="mainSearchFocus = true;"
                                        ng-blur="mainSearchFocus = false;"/>
                                    <i class="material-icons color text-disabled-white">search</i>
                                    <button type="button" class="btn type-flat icon-24 color-white">
                                        <i class="material-icons">arrow_forward</i>
                                    </button>

        						</div>
        					</div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right btn-group">
                        <button type="button" class="btn type-flat color-white" ng-click="showCategories = true">
							<span>Categorias</span>
						</button>
                        <button type="button" class="btn type-flat color-white" ng-click="showLogin = true" ng-show="userLogged == false">
							<span>Entrar</span>
						</button>
                        <div class="dropdown on-hover" ng-class="{'open' : profileOptions}" ng-show="userLogged == true">
                            <button type="button" class="btn type-flat color-white dropdown-toggle" ng-click="profileOptions = !profileOptions">
                                <span class="mg-lt-15">Minha conta</span>
                                <i class="material-icons">arrow_drop_down</i>
    						</button>
                            <ul class="dropdown-menu right text-left" style="width: 290px;">
                                <li class="v-align-children pd-15">
        							<span class="color text-primary title text-ellipsis" title="Renan Zózimo">Renan Zózimo</span>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Minha conta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Meus serviços e produtos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Status de solicitações</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="v-align-children text-left">
                                        <span>Moderações administrativas</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" class="v-align-children text-right" ng-click="userLogged = false">
                                        <span class="mg-rt-5">Sair</span>
                                        <i class="material-icons">exit_to_app</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </navbar>
    </div>

	<div class="container-fluid bg-color primary-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="flex-start top pd-tp-15 pd-bt-15 details-header">
                        <a href="index.html" class="btn type-flat icon-24 color-white mg-rt-15 mg-tp-5-sm-down">
                            <i class="material-icons mg-tp-5">arrow_back</i>
                        </a>

                        <div class="texts full-width reacts-btn-icon-24 pd-rt-15-sm-up">

                            <span class="heading block color text-primary-white">Renan Zózimo</span>
                            <span class="caption block color text-primary-white">Lorem ipsum</span>

                            <div class="v-align-children color text-primary-white mg-tp-15">
                                <div class="v-align-children text-nowrap mg-rt-15">
                                    <i class="material-icons sz-18">thumb_up</i>
                                    <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                                </div>
                                <div class="v-align-children text-nowrap mg-rt-15">
                                    <i class="material-icons sz-18">thumb_down</i>
                                    <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                                </div>
                                <div class="v-align-children text-nowrap">
                                    <i class="material-icons sz-18">message</i>
                                    <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                                </div>
                            </div>
                        </div>
                        <div class="texts full-width hidden-sm-down color text-primary-white">
                            <span class="block">
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, dolorum explicabo labore."
                            </span>
                            <spam class="block text-right">
                                - <span><i>Renan Zózimo</i></span>
                            </spam>
                            <button type="button" class="btn color-primary-dark mg-tp-5" ng-click="showAddRating = true">
                                avaliar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 pd-lt-65-sm-up pd-rt-65-sm-up text-break">
                <h3 class="color text-primary-dark">Lorem ipsum</h3>
                <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident alias eligendi similique, optio quam blanditiis suscipit facere soluta vel dolor aliquam voluptatem accusantium necessitatibus officia ea nobis, ex voluptates velit.</p>
                <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias porro, a minus animi unde quo ab, alias eligendi reiciendis.</p>
            </div>
        </div>
        <hr class="mg-tp-30 mg-bt-30">
    </div>

    <div class="container-fluid" style="background-color: #efefef;">
        <div class="container">

            <div class="row">
                <div class="col-xs-12" style="height: 400px; background-color: rgba(0,0,0,0.2)">
                    <!-- FOTOS  -->
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <hr class="mg-tp-30 mg-bt-30">

        <div class="row">
            <div class="col-xs-12">
                <h3 class="color text-primary-dark pull-left">Avaliações e comentários</h3>
                <button type="button" class="btn full-width pull-right mg-bt-15 hidden-xssm-up" ng-click="showAddRating = true">
                    avaliar
                </button>
                <button type="button" class="btn pull-right mg-tp-15 hidden-xs-only" ng-click="showAddRating = true">
                    avaliar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="left">
                            <span class="avatar-character img-circle">R</span><!--
                         --><div class="texts">
                                <span class="block mg-lt-5 text-ellipsis">Renan Zózimo</span>
                            </div>
                        </div>
                        <div class="right">
                            <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                        </div>
                    </div>
                    <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                        <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem quas similique numquam itaque velit, perferendis soluta delectus corporis aperiam blanditiis aliquam autem </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="left">
                            <span class="avatar-character img-circle">L</span><!--
                         --><div class="texts">
                                <span class="block mg-lt-5 text-ellipsis">Leticia Zózimo</span>
                            </div>
                        </div>
                        <div class="right">
                            <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                        </div>
                    </div>
                    <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                        <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem quas similique numquam itaque velit, perferen. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="left">
                            <span class="avatar-character img-circle">C</span><!--
                         --><div class="texts">
                                <span class="block mg-lt-5 text-ellipsis">Charles Fortes</span>
                            </div>
                        </div>
                        <div class="right">
                            <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                        </div>
                    </div>
                    <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                        <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showLogin}">
        <close class="absolute-total-size" ng-click="showLogin = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showLogin = false"></close>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4" style="top: 90px;">
                    <div class="card mg-0-force">
                        <div class="card-header">
                            <div class="left">
                                <div class="texts">
                                    <span class="display-1 color text-primary">AdFinder <small>&#8482</small></span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showLogin = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pd-rt-15 pd-bt-15 pd-lt-15">
                            <div class="alert color-error mg-bt-15" ng-show="error">
                                <span translate>Algum erro</span>
                            </div>
                            <div class="space-between center mg-bt-15">
                                <i class="material-icons color text-secondary-black pd-rt-15">person</i>
                                <div class="form-group mg-bt-0 full-width" ng-class="{ 'is-focused' : inputUserIsFocused }">
                                    <div class="relative clearfix">
                                        <input id="inputUser"
                                               class="form-control"
                                               type="text"
                                               name="inputUser"
                                               placeholder="usuário ou e-mail"
                                               ng-model="inputUser"
                                               ng-focus="inputUserIsFocused = true"
                                               ng-blur="inputUserIsFocused = false"/>

                                        <span class="material-input"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="space-between center">
                                <i class="material-icons color text-secondary-black pd-rt-15">lock</i>
                                <div class="form-group mg-bt-0 full-width" ng-class="{ 'is-focused' : inputPasswordIsFocused }">
                                    <div class="relative clearfix">
                                        <input id="inputPassword"
                                               class="form-control"
                                               type="password"
                                               name="inputPassword"
                                               placeholder="senha"
                                               ng-model="inputPassword"
                                               ng-focus="inputPasswordIsFocused = true"
                                               ng-blur="inputPasswordIsFocused = false"/>

                                        <span class="material-input"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-part pd-15 text-right">
                            <button type="button" class="btn full-width" ng-disabled="!inputPassword" ng-click="userLogged = true; showLogin = false;">
                                Entrar
                            </button>
                            <button type="button" class="btn type-flat mg-tp-15">
                                <small class="text-capitalize">esqueci minha senha</small>
                            </button>
                            <button type="button" class="btn type-flat mg-tp-15 pull-left" ng-click="showNewAccount = true">
                                <small class="text-capitalize">criar conta</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showCategories}">
        <close class="absolute-total-size" ng-click="showCategories = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showCategories = false"></close>
                <div class="backdrop-content col-xs-12">
                    <div class="card structure">
                        <div class="structure-header pd-tp-15 pd-rt-15 pd-lt-15">
                            <div class="left">
                                <div class="texts">
                                    <span class="headline color text-primary">Categorias</span>
                                </div>
                            </div>
                            <div class="right">
                                <button class="btn type-flat icon-24" ng-click="showCategories = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="structure-body pd-0-force">
                            <div class="overflow-limiter">
                                <div class="row row-gutters-15">
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15 bg-color greyscale100" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black structure-smart-height-overflow" ng-class="{'active' : showNewAccount}">
        <close class="absolute-total-size" ng-click="showNewAccount = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showNewAccount = false"></close>
                <div class="backdrop-content col-xs-12 col-sm-8 col-sm-offset-1 col-lg-6 col-lg-offset-3 col-xlg-4 col-xlg-offset-4">
                    <form class="card structure" name="newAccountForm" novalidate>
                        <div class="structure-header pd-15-force bordered">
                            <div class="left">
                                <i class="material-icons sz-48 hidden-xs-only-force">account_circle</i><!--
                             --><div class="texts">
                                    <span class="headline color text-primary">Criar conta</span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showNewAccount = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="structure-body pd-15-force mg-bt-30">
                            <div class="overflow-limiter">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 col-xssm-8 col-xssm-offset-2">

                                <div class="form-group"
                                     ng-class="{'is-focused': newEmailInputIsFocused,
                                                'has-error' : newAccountForm.newEmailInput.$error.email,
                                                'is-empty' : newAccountForm.newEmailInput.$error.required}">

                                    <label class="control-label required"
                                           for="newEmailInput">

                                        <span>Email</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newEmailInput"
                                               class="form-control"
                                               type="email"
                                               name="newEmailInput"
                                               ng-model="newEmailInput"
                                               ng-focus="newEmailInputIsFocused = true"
                                               ng-blur="newEmailInputIsFocused = false" required/>

                                        <i class="form-control-feedback help-block material-icons">
                                            <span class="color text-success"
                                                  ng-show="newAccountForm.newEmailInput.$valid">check</span>
                                            <span class="color"
                                                  ng-show="newAccountForm.newEmailInput.$error.email">error</span>
                                        </i>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'is-focused': newPasswordIsFocused,
                                                'is-empty' : newAccountForm.newPassword.$error.required}">

                                    <label class="control-label required"
                                           for="newPassword">

                                        <span>Senha</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newPassword"
                                               class="form-control"
                                               type="password"
                                               name="newPassword"
                                               ng-model="newPassword"
                                               ng-focus="newPasswordIsFocused = true"
                                               ng-blur="newPasswordIsFocused = false" required/>

                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'is-focused': newPasswordConfirmIsFocused,
                                                'has-error' : newPasswordConfirm && newPasswordConfirm != newPassword,
                                                'is-empty' : newAccountForm.newPasswordConfirm.$error.required}">

                                    <label class="control-label required"
                                           for="newPasswordConfirm">

                                        <span>Confirme sua senha</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newPasswordConfirm"
                                               class="form-control"
                                               type="password"
                                               name="newPasswordConfirm"
                                               ng-model="newPasswordConfirm"
                                               ng-focus="newPasswordConfirmIsFocused = true"
                                               ng-blur="newPasswordConfirmIsFocused = false" required/>

                                        <i class="form-control-feedback help-block material-icons">
                                            <span class="color text-success"
                                                  ng-show="newPasswordConfirm && newPasswordConfirm == newPassword">check</span>
                                            <span class="color"
                                                  ng-show="newPasswordConfirm && newPasswordConfirm != newPassword">error</span>
                                        </i>
                                        <span class="material-input"></span>
                                    </div>
                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="structure-footer bordered">
                            <div class="right">
                                <div class="btn-group text-right">
                                    <button type="button" class="btn type-flat" ng-click="showNewAccount = false">
                                        <span>voltar</span>
                                    </button>
                                    <button class="btn" type="submit">
                                        <span>criar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showAddRating}">
        <close class="absolute-total-size" ng-click="showAddRating = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showAddRating = false"></close>
                <div class="backdrop-content col-xs-12 col-sm-8 col-sm-offset-1 col-lg-6 col-lg-offset-3 col-xlg-4 col-xlg-offset-4">
                    <form action="" class="card" novalidate>
                        <div class="card-header">
                            <div class="left">
                                <div class="texts">
                                    <span class="headline color text-primary">Avaliação</span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showAddRating = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pd-rt-15 pd-bt-15 pd-lt-15">
                            <div class="form-group radio mg-bt-0 flex-end">
                                <div class="content" ng-class="{'color text-success' : like == 1}">
                                    <input type="radio" class="form-control no-active-feedback" name="inputRating" ng-model="like" value="1">
                                    <div class="radio-icons">
                                        <i class="material-icons">thumb_up</i>
                                        <i class="material-icons">thumb_up</i>
                                    </div>
                                    <label class="control-label" for="inputs4">Gostei {{like.value}}</label>
                                </div>
                                <div class="content" ng-class="{'color text-error' : like == 0}">
                                    <input type="radio" class="form-control no-active-feedback" name="inputRating" ng-model="like" value="0">
                                    <div class="radio-icons">
                                        <i class="material-icons">thumb_down</i>
                                        <i class="material-icons">thumb_down</i>
                                    </div>
                                    <label class="control-label" for="inputs4">Não gostei</label>
                                </div>
                            </div>

                            <div class="form-group mg-bt-0"
                                 ng-class="{'is-focused': textRatingIsFocused }">

                                <label class="control-label"
                                       for="textRating">

                                    <span>Comentário (opcional)</span>
                                </label>

                                <div class="relative clearfix">
                                    <textarea name="textRating"
                                              class="form-control"
                                              ng-model="textRating"
                                              ng-focus="textRatingIsFocused = true"
                                              ng-blur="textRatingIsFocused = true"
                                              ng-attr-ng-trim="false"
                                              maxlength="100"
                                              ng-maxlength="100"></textarea>

                                    <span class="text-right mg-tp-5 help-block max-lenght-counter"
                                          ng-show="textRating">

                                        <span class="text-bold">{{textRating.length}}</span>
                                        de 100
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="right">
                                <button type="button" class="btn type-flat" ng-click="showAddRating = false">
                                    voltar
                                </button>
                                <button class="btn" type="submit">
                                    salvar
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="snackbar bg-color complementary color text-accent">
        <span>Cadastro realizado com sucesso</span>
    </div>

    <div class="snackbar bg-color greyscale100 color text-error v-align-children">
        <i class="material-icons mg-rt-5">error</i>
        <span class="mg-0-force">Ops: Erro genérico</span>
    </div>

    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>

</html>
