<!doctype html>
<html lang="pt" ng-app>

<head>
    <meta charset="utf-8">

    <title>Global Peace adFinder</title>
    <meta name="description" content="Encontre produtos e serviços na sua região">
    <meta name="author" content="GlobalPeace">

    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <div class="container-fluid pd-0 bg-color primary color text-primary-white">
        <navbar>
            <nav class="container pd-tp-30 pd-bt-30">
				<div class="space-between center">
					<div class="full-width hidden-xssm-down">
						<span class="headline">AdFinder</span>
					</div>
					<div class="main-search form-group mg-bt-0 full-width" ng-class="{'is-focused' : mainSearchFocus}">
						<div class="relative clearfix">
							<input id="inputMain"
								class="form-control color text-primary-white"
								type="text"
								name="inputMain"
                                ng-focus="mainSearchFocus = true;"
                                ng-blur="mainSearchFocus = false;"/>
                            <i class="material-icons color text-disabled-white">search</i>
                            <button type="button" class="btn type-flat icon-24 color-white">
                                <i class="material-icons">arrow_forward</i>
                            </button>

						</div>
					</div>
					<div class="full-width v-align-children text-right">
						<button type="button" class="btn type-flat color-white" ng-click="showCategories = true">
							<span>Categorias</span>
						</button>
						<button type="button" class="btn type-flat color-white" ng-click="showLogin = true">
							<span>Entrar</span>
						</button>
					</div>
				</div>
            </nav>
        </navbar>
    </div>

	<div class="container" ng-init="profileView = 1">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <span>Meu perfil</span>
                </h1>
            </div>
        </div>
        <div class="row mg-bt-15">
            <div class="col-xs-12">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="text-uppercase caption" ng-class="{'active' : profileView == 1}" ng-click="profileView = 1">
                            Minha conta
                        </li>
                        <li class="text-uppercase caption" ng-class="{'active' : profileView == 2}" ng-click="profileView = 2">
                            Meus serviços e produtos
                        </li>
                        <li class="text-uppercase caption" ng-class="{'active' : profileView == 3}" ng-click="profileView = 3">
                            Status de solicitações
                        </li>
                        <li class="text-uppercase caption" ng-class="{'active' : profileView == 4}" ng-click="profileView = 4">
                            Moderações administrativas
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row relative">
            <div class="active-view absolute pd-bt-30 full-width clearfix" ng-class="{'active' : profileView == 1}">
                <div class="col-xs-12 col-md-6 col-lg-4 col-xlg-3">
                    <h3 class="color text-primary v-align-children">
                        <i class="material-icons">content_paste</i>
                        <span>Informações básicas</span>
                    </h3>
                    <form class="mg-tp-30" action="" name="profileBasicForm">
                        <div class="form-group"
                             ng-class="{'is-focused': profileNameIsFocused}">

                            <label class="control-label required"
                                   for="profileName">

                                <span>Meu nome</span>
                            </label>
                            <div class="relative clearfix">
                                <input id="profileName"
                                       class="form-control"
                                       type="text"
                                       name="profileName"
                                       ng-init="profileName = 'renanfz'"
                                       ng-model="profileName"
                                       ng-focus="profileNameIsFocused = true"
                                       ng-blur="profileNameIsFocused = false" required/>

                                <i class="form-control-feedback help-block material-icons">
                                    <span class="color text-success"
                                          ng-show="profileBasicForm.profileName.$valid">check</span>
                                    <span class="color"
                                          ng-show="profileBasicForm.profileName.$error.email">error</span>
                                </i>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'is-focused': profileCPFIsFocused}">

                            <label class="control-label required"
                                   for="profileCPF">

                                <span>CPF</span>
                            </label>
                            <div class="relative clearfix">
                                <input id="profileCPF"
                                       class="form-control"
                                       type="text"
                                       name="profileCPF"
                                       ng-model="profileCPF"
                                       ng-focus="profileCPFIsFocused = true"
                                       ng-blur="profileCPFIsFocused = false" required/>

                                <i class="form-control-feedback help-block material-icons">
                                    <span class="color text-success"
                                          ng-show="profileBasicForm.profileCPF.$valid">check</span>
                                    <span class="color"
                                          ng-show="profileBasicForm.profileCPF.$error.email">error</span>
                                </i>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'is-focused': profilePhoneIsFocused}">

                            <label class="control-label"
                                   for="profilePhone">

                                <span>Telefone(s)</span>
                            </label>
                            <div class="relative clearfix">
                                <input id="profilePhone"
                                       class="form-control"
                                       type="tel"
                                       name="profilePhone"
                                       ng-model="profilePhone"
                                       ng-focus="profilePhoneIsFocused = true"
                                       ng-blur="profilePhoneIsFocused = false"/>

                                <span class="material-input"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-1 col-xlg-3 col-xlg-offset-1">
                    <h3 class="color text-primary v-align-children">
                        <i class="material-icons">lock_open</i>
                        <span>Acesso</span>
                    </h3>
                    <form class="mg-tp-30" action="" name="profileAccessForm">
                        <div class="form-group mg-bt-15"
                             ng-class="{'is-focused': newEmailInputIsFocused,
                                        'has-error' : profileAccessForm.newEmailInput.$error.email,
                                        'is-empty' : profileAccessForm.newEmailInput.$error.required}">

                            <label class="control-label required"
                                   for="newEmailInput">

                                <span>Email</span>
                            </label>
                            <div class="relative clearfix">
                                <input id="newEmailInput"
                                       class="form-control"
                                       type="email"
                                       name="newEmailInput"
                                       ng-init="newEmailInput = 'renanfz@gmail.com'"
                                       ng-model="newEmailInput"
                                       ng-focus="newEmailInputIsFocused = true"
                                       ng-blur="newEmailInputIsFocused = false" disabled required/>

                                <span class="material-input"></span>
                            </div>
                        </div>
                    </form>
                    <div class="btn-group full-width text-right">
                        <button class="btn type-flat">
                            alterar e-mail
                        </button>
                        <button class="btn type-flat">
                            alterar senha
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row relative" ng-class="{'active' : profileView == 2}">
            <div class="active-view absolute pd-bt-30 full-width clearfix" ng-class="{'active' : profileView == 2}">
                <div class="col-xs-12 col-md-8 col-xlg-6">
                    <h3 class="color text-primary">
                        <span>Meu anúncio</span>
                    </h3>
                    <form action="" name="adForm">
                        <div class="form-group" ng-class="{'is-focused': adCategoryIsFocused}">
                            <label class="control-label required" for="adCategory">
                                <span>Categoria</span>
                            </label>
                            <div class="relative">
                                <div class="select-input" ng-class="{'disabled' : $ctrl.disabled}">
                                    <select id="adCategory"
                                            class="form-control"
                                            name="adCategory"
                                            ng-focus="adCategoryIsFocused = true"
                                            ng-blur="adCategoryIsFocused = false"
                                            ng-model="adCategory" required>

                                          <option value="">--</option>
                                          <option value="hidraulica">Hidráulica</option>
                                          <option value="camidacaseira">Comida caseira</option>
                                    </select>

                                    <i class="material-icons caret">keyboard_arrow_down</i>

                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'is-focused': adDescriptionIsFocused }">

                            <label class="control-label required"
                                   for="adDescription">

                                <span>Descrição</span>
                            </label>

                            <div class="relative clearfix">
                                <textarea name="adDescription"
                                          class="form-control"
                                          ng-model="adDescription"
                                          ng-focus="adDescriptionIsFocused = true"
                                          ng-blur="adDescriptionIsFocused = true"
                                          ng-attr-ng-trim="false"
                                          rows = "8"
                                          maxlength="1000"
                                          ng-maxlength="1000"></textarea>

                                <span class="text-right mg-tp-5 help-block max-lenght-counter"
                                      ng-show="adDescription">

                                    <span class="text-bold">{{adDescription.length}}</span>
                                    de 1000
                                </span>

                            </div>
                        </div>
                        <div class="btn-group full-width text-right">
                            <button class="btn">
                                Publicar
                            </button>
                        </div>
                    </form>
                    <h3 class="mg-tp-30 color text-primary">
                        <span>Avaliações e comentários</span>
                    </h3>
                    <button class="btn">
                        ir para página pública
                    </button>
                </div>
            </div>
        </div>
        <div class="row relative" ng-class="{'active' : profileView == 3}">
            <div class="active-view absolute pd-bt-30 full-width clearfix" ng-class="{'active' : profileView == 3}">
                <div class="col-xs-12 col-md-8 col-xlg-6">
                    <h3 class="color text-primary">
                        <span>Solicitações</span>
                    </h3>
                    <div class="alert color-warning">
                        <span class="block title mg-bt-5">Solicitação de publicação</span>
                        <span class="block mg-bt-5">Solicitação Pendente</span></span>
                        <small class="block text-right">Atualizada 01/02/2017 - 9:35</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row relative" ng-class="{'active' : profileView == 4}">
            <div class="active-view absolute pd-bt-30 full-width clearfix" ng-class="{'active' : profileView == 4}">
                <div class="col-xs-12">
                    <h3 class="color text-primary">
                        <span>Solicitações de cadastro</span>
                    </h3>
                    <table class="mini table-card">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Telefone</th>
                                <th>E-mail</th>
                                <th></th><!-- actions -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pivot">Emerson dos Santos</td>
                                <td data-th="CPF">09919876670</td>
                                <td data-th="Telefone">31900876767</td>
                                <td data-th="E-mail">emerson.santos@mail.com</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                            <i class="material-icons">check</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="pivot">Carlos Antônio</td>
                                <td data-th="CPF">19987656617</td>
                                <td data-th="Telefone">31980897867</td>
                                <td data-th="E-mail">carl.ant02@mail.com</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                            <i class="material-icons">check</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 mg-tp-30">
                    <h3 class="color text-primary">
                        <span>Solicitações de anúncios</span>
                    </h3>
                    <div class="row"><!-- repeat aqui -->
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header bordered">
                                    <div class="left">
                                        <div class="texts">
                                            <span class="headline color text-primary">Emerson Souza</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pd-15">
                                    <span class="subheading block color text-primary mg-bt-15">
                                        Informações básicas
                                    </span>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 mg-bt-15">
                                            <span class="block"><b>CPF</b></span>
                                            <span class="block">09887867716</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 mg-bt-15">
                                            <span class="block"><b>Telefone</b></span>
                                            <span class="block">31988987876</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 mg-bt-15">
                                            <span class="block"><b>E-mail</b></span>
                                            <span class="block">merson@mail.com</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <span class="subheading block color text-primary mg-bt-15">
                                        Anúncio
                                    </span>
                                    <div class="row">
                                        <div class="col-xs-12 mg-bt-15">
                                            <span class="block"><b>Categoria</b></span>
                                            <span class="block">Engenharia</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <span class="block"><b>Descrição</b></span>
                                            <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident expedita, accusantium neque eius deleniti eligendi molestiae veritatis cumque, quas, mollitia cupiditate. Repellat facilis, eligendi pariatur, hic vel porro voluptatibus nihil rerum aliquid velit eos amet dolores vitae ratione temporibus nam!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="right">
                                        <div class="btn-group">
                                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                                <i class="material-icons">close</i>
                                            </button>
                                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                                <i class="material-icons">check</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showLogin}">
        <close class="absolute-total-size" ng-click="showLogin = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showLogin = false"></close>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4" style="top: 90px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="left">
                                <div class="texts">
                                    <span class="display-1 color text-primary">AdFinder <small>&#8482</small></span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showLogin = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pd-rt-15 pd-bt-15 pd-lt-15">
                            <div class="alert color-error mg-bt-15" ng-show="error">
                                <span translate>Algum erro</span>
                            </div>
                            <div class="space-between center mg-bt-15">
                                <i class="material-icons color text-secondary-black pd-rt-15">person</i>
                                <div class="form-group mg-bt-0 full-width" ng-class="{ 'is-focused' : inputUserIsFocused }">
                                    <div class="relative clearfix">
                                        <input id="inputUser"
                                               class="form-control"
                                               type="text"
                                               name="inputUser"
                                               placeholder="usuário ou e-mail"
                                               ng-model="user"
                                               ng-focus="inputUserIsFocus = true"
                                               ng-blur="inputUserIsFocus = false"/>

                                    </div>
                                </div>
                            </div>
                            <div class="space-between center">
                                <i class="material-icons color text-secondary-black pd-rt-15">lock</i>
                                <div class="form-group mg-bt-0 full-width" ng-class="{ 'is-focused' : inputPassowrdIsFocused }">
                                    <div class="relative clearfix">
                                        <input id="inputPassword"
                                               class="form-control"
                                               type="text"
                                               name="inputPassword"
                                               placeholder="senha"
                                               ng-model="user"
                                               ng-focus="inputPasswordIsFocus = true"
                                               ng-blur="inputPasswordIsFocus = false"/>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-part pd-15 text-right">
                            <button type="button" class="btn full-width">
                                Entrar
                            </button>
                            <button type="button" class="btn type-flat mg-tp-15">
                                <small class="text-capitalize">esqueci minha senha</small>
                            </button>
                            <button type="button" class="btn type-flat mg-tp-15 pull-left" ng-click="showNewAccount = true">
                                <small class="text-capitalize">criar conta</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showCategories}">
        <close class="absolute-total-size" ng-click="showCategories = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showCategories = false"></close>
                <div class="backdrop-content col-xs-12">
                    <div class="card structure">
                        <div class="structure-title pd-tp-15 pd-rt-15 pd-lt-15">
                            <span class="headline color text-primary">Categorias</span>
                        </div>
                        <div class="structure-body pd-0-force">
                            <div class="overflow-limiter">
                                <div class="row row-gutters-15">
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15 bg-color greyscale100" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-4">
                                        <a href="" class="interactive-item text-ellipsis block border-radius pd-15" title="Renan Zózimo">Renan Zózimo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showNewAccount}">
        <close class="absolute-total-size" ng-click="showNewAccount = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showNewAccount = false"></close>
                <div class="backdrop-content col-xs-12 col-sm-8 col-sm-offset-1 col-lg-6 col-lg-offset-3 col-xlg-4 col-xlg-offset-4">
                    <form class="card structure" name="newAccountForm" novalidate>
                        <div class="structure-header pd-15-force bordered">
                            <div class="left">
                                <i class="material-icons sz-48 hidden-xs-only-force">account_circle</i><!--
                             --><div class="texts">
                                    <span class="headline color text-primary">Criar conta</span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showNewAccount = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="structure-body pd-15-force mg-bt-30">
                            <div class="overflow-limiter">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 col-xssm-8 col-xssm-offset-2">

                                <div class="form-group"
                                     ng-class="{'is-focused': newEmailInputIsFocused,
                                                'has-error' : newAccountForm.newEmailInput.$error.email,
                                                'is-empty' : newAccountForm.newEmailInput.$error.required}">

                                    <label class="control-label required"
                                           for="newEmailInput">

                                        <span>Email</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newEmailInput"
                                               class="form-control"
                                               type="email"
                                               name="newEmailInput"
                                               ng-model="newEmailInput"
                                               ng-focus="newEmailInputIsFocused = true"
                                               ng-blur="newEmailInputIsFocused = false" required/>

                                        <i class="form-control-feedback help-block material-icons">
                                            <span class="color text-success"
                                                  ng-show="newAccountForm.newEmailInput.$valid">check</span>
                                            <span class="color"
                                                  ng-show="newAccountForm.newEmailInput.$error.email">error</span>
                                        </i>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'is-focused': newPasswordIsFocused,
                                                'is-empty' : newAccountForm.newPassword.$error.required}">

                                    <label class="control-label required"
                                           for="newPassword">

                                        <span>Senha</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newPassword"
                                               class="form-control"
                                               type="password"
                                               name="newPassword"
                                               ng-model="newPassword"
                                               ng-focus="newPasswordIsFocused = true"
                                               ng-blur="newPasswordIsFocused = false" required/>

                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'is-focused': newPasswordConfirmIsFocused,
                                                'has-error' : newPasswordConfirm && newPasswordConfirm != newPassword,
                                                'is-empty' : newAccountForm.newPasswordConfirm.$error.required}">

                                    <label class="control-label required"
                                           for="newPasswordConfirm">

                                        <span>Confirme sua senha</span>
                                    </label>
                                    <div class="relative clearfix">
                                        <input id="newPasswordConfirm"
                                               class="form-control"
                                               type="password"
                                               name="newPasswordConfirm"
                                               ng-model="newPasswordConfirm"
                                               ng-focus="newPasswordConfirmIsFocused = true"
                                               ng-blur="newPasswordConfirmIsFocused = false" required/>

                                        <i class="form-control-feedback help-block material-icons">
                                            <span class="color text-success"
                                                  ng-show="newPasswordConfirm && newPasswordConfirm == newPassword">check</span>
                                            <span class="color"
                                                  ng-show="newPasswordConfirm && newPasswordConfirm != newPassword">error</span>
                                        </i>
                                        <span class="material-input"></span>
                                    </div>
                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="structure-footer bordered">
                            <div class="right">
                                <div class="btn-group text-right">
                                    <button type="button" class="btn type-flat" ng-click="showNewAccount = false">
                                        <span>voltar</span>
                                    </button>
                                    <button class="btn" type="submit">
                                        <span>criar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="generic-backdrop color text-secondary-black" ng-class="{'active' : showModerationDialog}">
        <close class="absolute-total-size" ng-click="showModerationDialog = false"></close>
        <div class="container">
            <div class="row">
                <close class="absolute-total-size" ng-click="showModerationDialog = false"></close>
                <div class="backdrop-content col-xs-12 col-sm-8 col-sm-offset-1 col-lg-6 col-lg-offset-3 col-xlg-4 col-xlg-offset-4">
                    <form action="" class="card" novalidate>
                        <div class="card-header">
                            <div class="left">
                                <div class="texts">
                                    <span class="headline color text-primary">Aprovar ou reprovar</span>
                                </div>
                            </div>
                            <div class="right">
                                <button type="button" class="btn type-flat icon-24" ng-click="showModerationDialog = false">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pd-rt-15 pd-bt-15 pd-lt-15">
                            <div class="form-group radio mg-bt-0 flex-end">
                                <div class="content" ng-class="{'color text-success' : moderation == 1}">
                                    <input type="radio" class="form-control no-active-feedback" name="inputModeration" ng-model="moderation" value="1">
                                    <div class="radio-icons">
                                        <i class="material-icons">check</i>
                                        <i class="material-icons">check</i>
                                    </div>
                                    <label class="control-label" for="inputs4">Aprovar</label>
                                </div>
                                <div class="content" ng-class="{'color text-error' : moderation == 0}">
                                    <input type="radio" class="form-control no-active-feedback" name="inputModeration" ng-model="moderation" value="0">
                                    <div class="radio-icons">
                                        <i class="material-icons">close</i>
                                        <i class="material-icons">close</i>
                                    </div>
                                    <label class="control-label" for="inputs4">Reprovar</label>
                                </div>
                            </div>

                            <div class="form-group mg-bt-0"
                                 ng-class="{'is-focused': textModerationIsFocused }">

                                <label class="control-label"
                                       for="textModeration">

                                    <span>Comentário (opcional)</span>
                                </label>

                                <div class="relative clearfix">
                                    <textarea name="textModeration"
                                              class="form-control"
                                              ng-model="textModeration"
                                              ng-focus="textModerationIsFocused = true"
                                              ng-blur="textModerationIsFocused = true"
                                              ng-attr-ng-trim="false"
                                              maxlength="100"
                                              ng-maxlength="100"></textarea>

                                    <span class="text-right mg-tp-5 help-block max-lenght-counter"
                                          ng-show="textModeration">

                                        <span class="text-bold">{{textRating.length}}</span>
                                        de 100
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="right">
                                <button type="button" class="btn type-flat" ng-click="showModerationDialog = false">
                                    voltar
                                </button>
                                <button class="btn" type="submit">
                                    salvar
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="snackbar bg-color complementary color text-accent">
        <span>Cadastro realizado com sucesso</span>
    </div>

    <div class="snackbar bg-color greyscale100 color text-error v-align-children">
        <i class="material-icons mg-rt-5">error</i>
        <span class="mg-0-force">Ops: Erro genérico</span>
    </div>

    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>

</html>
