h3, .title, h4, .subheading, h5, .body-2, h6, .caption {
    font-weight: 500;
    &.fw-300 {
        font-weight: 300;
    }
}

h1, .heading, h2, .headline {
    font-weight: 400;
    &.fw-300 {
        font-weight: 300;
    }
}

h1, .heading {
    font-size: #{$font-size-base + 14};
}
h2, .headline {
    font-size: #{$font-size-base + 10};
}
h3, .title {
    font-size: #{$font-size-base + 6};
}
h4, .subheading {
    font-size: #{$font-size-base + 2};
}
h5, .body-2 {
    font-size: #{$font-size-base};
}
h6, .caption {
    font-size: #{$font-size-base - 2};
}
body,
p {
    font-weight: 400;
}
