<div class="container-fluid pd-0 bg-color primary color text-primary-white">
    <navbar>
        <nav class="container pd-tp-30 pd-bt-15 hidden-sm-down">
          <div class="space-between center">
                <a data-ui-sref="main.home" class="full-width hidden-xssm-down pd-rt-15">
                    <img src="imgs/logo.svg" alt="" class="full-width" style="max-width: 420px;">
                </a>
                <div class="main-search form-group mg-bt-0 full-width" ng-class="{'is-focused' : mainSearchFocus}">
                    <div class="relative clearfix">
                        <input id="inputMain"
                            class="form-control color text-primary-white"
                            type="text"
                            name="inputMain"
                            ng-model="$ctrl.query"
                            ng-keydown="$event.keyCode  == 13 ? $ctrl.find() : null"
                            ng-focus="mainSearchFocus = true;"
                            ng-blur="mainSearchFocus = false;"
                            placeholder="O que você deseja encontrar?"
                            />
                        <span>Em qual região da sua cidade?</span>
                        <input id="inputMainRegion"
                            class="form-control color text-primary-white"
                            type="text"
                            name="inputMainRegion"
                            ng-model="$ctrl.queryRegion"
                            ng-keydown="$event.keyCode  == 13 ? $ctrl.find() : null"
                            ng-focus="mainSearchFocus = true;"
                            ng-blur="mainSearchFocus = false;"
                            />

                        <i class="material-icons color text-disabled-white">search</i>
                        <button type="button" class="btn type-flat icon-24 color-white" ng-click="$ctrl.find()">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </div>

                    <button type="button" class="btn type-flat icon-24 color-white" ng-click="$ctrl.find()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>

            <div class="clearfix full-width pd-tp-15">
                <div class="btn-group pull-left">
                    <a href="" type="button" class="btn type-flat color-white mini no-active-feedback" data-ui-sref="main.home" title="Página inicial">
                        <i class="material-icons">home</i>
                    </a>
                    <div class="divider-v-30 mg-lt-15 mg-rt-15"></div>
                    <button type="button" class="btn type-flat color-white no-active-feedback" ng-click="$ctrl.openCategories()">
                        <span>Categorias</span>
                    </button>
                </div>
                <div class="text-right btn-group pull-right">
                    <button type="button" class="btn type-flat color-white" ng-click="$ctrl.openLogin()" ng-show="!$ctrl.userLogged">
                        <span>Entrar</span>
                    </button>
                    <div class="dropdown on-hover" ng-class="{'open' : profileOptions}" ng-show="$ctrl.userLogged">
                        <button type="button" class="btn type-flat color-white dropdown-toggle" ng-click="profileOptions = !profileOptions">
                            <span class="mg-lt-15">Minha conta</span>
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <ul class="dropdown-menu right text-left" style="width: 290px;">
                            <li class="v-align-children pd-15">
                              <span class="color text-primary title text-ellipsis" title="{{$ctrl.currentUser.name || $ctrl.currentUser.email}}">{{$ctrl.currentUser.name || $ctrl.currentUser.email}}</span>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a data-ui-sref="main.profile.account" class="v-align-children text-left">
                                    <span>Minha conta</span>
                                </a>
                            </li>
                            <li>
                                <a data-ui-sref="main.profile.services" class="v-align-children text-left">
                                    <span>Meus serviços e produtos</span>
                                </a>
                            </li>
                            <li>
                                <a data-ui-sref="main.profile.requests" class="v-align-children text-left">
                                    <span>Status de solicitações</span>
                                </a>
                            </li>
                            <li ng-if="$ctrl.currentUser.isAdmin" >
                                <a data-ui-sref="main.profile.moderations" class="v-align-children text-left">
                                    <span>Moderações administrativas</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="v-align-children text-right" ng-click="$ctrl.signOut()">
                                    <span class="mg-rt-5">Sair</span>
                                    <i class="material-icons">exit_to_app</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="pd-tp-30 pd-bt-15 hidden-md-up">
            <div class="clearfix">
                <div class="col-xs-12">
                    <a href="index.html" class="color text-primary-white headline mg-rt-15" style="flex-shrink: 0;">
                        <img src="imgs/logo.svg" alt="" class="full-width" style="max-width: 420px;">
                    </a>
                </div>
                <div class="col-xs-12">
                    <div class="mg-tp-15 mg-bt-15">
                      <div class="main-search form-group mg-bt-0 full-width" ng-class="{'is-focused' : mainSearchFocus}">
                        <div class="relative clearfix">
                            <input id="inputMain"
                              class="form-control color text-primary-white"
                              type="text"
                              name="inputMain"
                              ng-keydown="$event.keyCode  == 13 ? $ctrl.find() : null"
                              ng-model="$ctrl.query"
                              ng-focus="mainSearchFocus = true;"
                              ng-blur="mainSearchFocus = false;"/>
                            <i class="material-icons color text-disabled-white">search</i>
                            <button type="button" class="btn type-flat icon-24 color-white" ng-click="$ctrl.find()">
                                <i class="material-icons">arrow_forward</i>
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-xs-12 text-right btn-group">
                    <button type="button" class="btn type-flat color-white" ng-click="$ctrl.openCategories()">
                      <span>Categorias</span>
                    </button>
                    <button type="button" class="btn type-flat color-white" ng-click="$ctrl.openLogin()" ng-show="!$ctrl.userLogged">
                      <span>Entrar</span>
                    </button>
                    <div class="dropdown on-hover" ng-class="{'open' : profileOptions}" ng-show="$ctrl.userLogged">
                        <button type="button" class="btn type-flat color-white dropdown-toggle" ng-click="profileOptions = !profileOptions">
                            <span class="mg-lt-15">Minha conta</span>
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <ul class="dropdown-menu right text-left" style="width: 290px;">
                            <li class="v-align-children pd-15">
                              <span class="color text-primary title text-ellipsis" title="{{$ctrl.currentUser.name || $ctrl.currentUser.email}}">{{$ctrl.currentUser.name || $ctrl.currentUser.email}}</span>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a data-ui-sref="main.profile.accounts" class="v-align-children text-left">
                                    <span>Minha conta</span>
                                </a>
                            </li>
                            <li>
                                <a data-ui-sref="main.profile.services" class="v-align-children text-left">
                                    <span>Meus serviços e produtos</span>
                                </a>
                            </li>
                            <li>
                                <a data-ui-sref="main.profile.requests" class="v-align-children text-left">
                                    <span>Status de solicitações</span>
                                </a>
                            </li>
                            <li ng-if="$ctrl.currentUser.isAdmin">
                                <a data-ui-sref="main.profile.moderations" class="v-align-children text-left">
                                    <span>Moderações administrativas</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="v-align-children text-right" ng-click="$ctrl.signOut()">
                                    <span class="mg-rt-5">Sair</span>
                                    <i class="material-icons">exit_to_app</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </navbar>
</div>
