<div class="container-fluid bg-color primary-light">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="flex-start top pd-tp-15 pd-bt-15 details-header">
                      <a data-ui-sref="main.home" class="btn type-flat icon-24 color-white mg-rt-15 mg-tp-5-sm-down">
                          <i class="material-icons mg-tp-5">arrow_back</i>
                      </a>

                      <div class="texts full-width reacts-btn-icon-24 pd-rt-15-sm-up">

                          <span class="heading block color text-primary-white">{{ad.name}}</span>
                          <span class="caption block color text-primary-white">Lorem ipsum</span>

                          <div class="v-align-children color text-primary-white mg-tp-15">
                              <div class="v-align-children text-nowrap mg-rt-15">
                                  <i class="material-icons sz-18">thumb_up</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                              </div>
                              <div class="v-align-children text-nowrap mg-rt-15">
                                  <i class="material-icons sz-18">thumb_down</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                              </div>
                              <div class="v-align-children text-nowrap">
                                  <i class="material-icons sz-18">message</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">1204</span>
                              </div>
                          </div>
                      </div>
                      <div class="texts full-width hidden-sm-down color text-primary-white">
                          <span class="block">
                              "{{ad.description}}"
                          </span>
                          <spam class="block text-right">
                              - <span><i>{{ad.name}}</i></span>
                          </spam>
                          <button type="button" class="btn color-accent mg-tp-5" ng-click="$ctrl.evaluate()">
                              avaliar
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 pd-lt-65-sm-up pd-rt-65-sm-up text-break">
            <h3 class="color text-primary-dark">Lorem ipsum</h3>
            <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident alias eligendi similique, optio quam blanditiis suscipit facere soluta vel dolor aliquam voluptatem accusantium necessitatibus officia ea nobis, ex voluptates velit.</p>
            <p class="color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias porro, a minus animi unde quo ab, alias eligendi reiciendis.</p>
        </div>
    </div>
    <hr class="mg-tp-30 mg-bt-30">
</div>

<div class="container-fluid" style="background-color: #efefef;">
    <div class="container">

        <div class="row">
            <div class="col-xs-12" style="height: 400px; background-color: rgba(0,0,0,0.2)">
                <!-- FOTOS  -->
            </div>
        </div>

    </div>
</div>

<div class="container">

    <hr class="mg-tp-30 mg-bt-30">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="color text-primary-dark pull-left">Avaliações e comentários</h3>
            <button type="button" class="btn full-width pull-right mg-bt-15 hidden-xssm-up" ng-click="showAddRating = true">
                avaliar
            </button>
            <button type="button" class="btn pull-right mg-tp-15 hidden-xs-only" ng-click="showAddRating = true">
                avaliar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="left">
                        <span class="avatar-character img-circle">R</span><!--
                     --><div class="texts">
                            <span class="block mg-lt-5 text-ellipsis">Renan Zózimo</span>
                        </div>
                    </div>
                    <div class="right">
                        <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                    </div>
                </div>
                <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                    <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem quas similique numquam itaque velit, perferendis soluta delectus corporis aperiam blanditiis aliquam autem </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="left">
                        <span class="avatar-character img-circle">L</span><!--
                     --><div class="texts">
                            <span class="block mg-lt-5 text-ellipsis">Leticia Zózimo</span>
                        </div>
                    </div>
                    <div class="right">
                        <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                    </div>
                </div>
                <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                    <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem quas similique numquam itaque velit, perferen. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="left">
                        <span class="avatar-character img-circle">C</span><!--
                     --><div class="texts">
                            <span class="block mg-lt-5 text-ellipsis">Charles Fortes</span>
                        </div>
                    </div>
                    <div class="right">
                        <i class="material-icons mg-tp-15 color text-success">thumb_up</i>
                    </div>
                </div>
                <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                    <span class="mg-bt-15 color text-secondary-black">Lorem ipsum dolor sit amet, consectetur. </span>
                </div>
            </div>
        </div>
    </div>
</div>
