
<div class="container-fluid bg-color primary-light">
        <div class="row main-list" id="loadingView" ng-class="{'loading full-page': $ctrl.loading}"></div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="flex-start top pd-tp-15 pd-bt-15 details-header">
                      <a data-ui-sref="main.home" class="btn type-flat icon-24 color-white mg-rt-15 mg-tp-5-sm-down">
                          <i class="material-icons mg-tp-5">arrow_back</i>
                      </a>

                      <div class="texts full-width reacts-btn-icon-24 pd-rt-15-sm-up">

                          <span class="heading block color text-primary-white">{{ad.name}}</span>
                          <span class="caption block color text-primary-white" data-ng-show="!$ctrl.editing">{{ad.category}}</span>
                          
                          <div class="space-between center mg-bt-15" data-ng-show="$ctrl.editing">
                                <div class="select-input" ng-class="{'disabled' : $ctrl.disabled}">
                                    <select id="adCategory"
                                            class="form-control"
                                            name="adCategory"
                                            ng-focus="adCategoryIsFocused = true"
                                            ng-blur="adCategoryIsFocused = false"
                                            ng-model="ad.category" required>
            
                                            <option value="">--</option>
                                            <option ng-repeat="obj in $ctrl.categories" value="{{obj.category}}">{{obj.category}}</option>
                                    </select>
            
                                    <i class="material-icons caret">keyboard_arrow_down</i>
            
                                    <span class="material-input"></span>
                                </div>
                            </div>

                          <div class="v-align-children color text-primary-white mg-tp-15">
                              <div class="v-align-children text-nowrap mg-rt-15">
                                  <i class="material-icons sz-18">thumb_up</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">{{ad.rating.liked}}</span>
                              </div>
                              <div class="v-align-children text-nowrap mg-rt-15">
                                  <i class="material-icons sz-18">thumb_down</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">{{ad.rating.disliked}}</span>
                              </div>
                              <div class="v-align-children text-nowrap">
                                  <i class="material-icons sz-18">message</i>
                                  <span class="mg-lt-5 reacts-btn-icon-24" style="font-size: 11px">{{$ctrl.comments}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="texts full-width hidden-sm-down color text-primary-white">
                          <span class="block" ng-show="$ctrl.ratings.length">
                              <i>"{{$ctrl.ratings[$ctrl.ratings.length - 1].description}}"</i>
                          </span>
                          <spam class="block text-right" ng-if="posterName">
                              - <span><i>{{ad.name}}</i></span>
                          </spam>
                          <button type="button" class="btn color-accent mg-tp-5" data-ui-sref="main.details.rating" data-ng-show="$ctrl.userIsLogged && $ctrl.ratings.length && ($ctrl.currentUser.cpf != ad.id)">
                              avaliar
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 pd-lt-65-sm-up pd-rt-65-sm-up text-break">
            <h3 class="color text-primary-dark">{{ad.name}}</h3>
            <p class="color text-secondary-black" data-ng-show="!$ctrl.editing">{{ad.description}}</p>
            <div class="relative clearfix" data-ng-show="$ctrl.editing">
                    <textarea name="adDescription"
                              class="form-control"
                              ng-model="ad.description"
                              placeholder="Insira a nova descrição do anúncio"
                              ng-focus="adDescriptionIsFocused = true"
                              ng-blur="adDescriptionIsFocused = true"
                              ng-attr-ng-trim="false"
                              rows = "8"
                              maxlength="1000"
                              ng-maxlength="1000"></textarea>

                    <span class="text-right mg-tp-5 help-block max-lenght-counter"
                          ng-show="ad.description">

                        <span class="text-bold">{{ad.description.length}}</span>
                        de 1000
                    </span>

                </div>
        </div>
    </div>
    <hr class="mg-tp-30 mg-bt-30 showImg">
</div>

<div class="container-fluid showImg" style="background-color: #efefef;">
    <div class="container">

        <div class="row">
            <div id="imgContainer" class="col-xs-12" style="display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap; background-color: rgba(0,0,0,0.2)">
                
            </div>
        </div>

    </div>
</div>

<div class="container">

    <hr class="mg-tp-30 mg-bt-30">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="color text-primary-dark pull-left">Avaliações e comentários</h3>
            <button type="button" class="btn full-width pull-right mg-bt-15 hidden-xssm-up" data-ui-sref="main.details.rating" data-ng-show="($ctrl.currentUser.cpf != ad.id) && $ctrl.userIsLogged">
                avaliar
            </button>
            <button type="button" class="btn full-width pull-right mg-bt-15 hidden-xssm-up" data-ng-show="$ctrl.currentUser.cpf == ad.id && !$ctrl.editing" data-ng-click="$ctrl.toogleEdit()">
                editar
            </button>
            <button type="button" class="btn full-width pull-right mg-bt-15 hidden-xssm-up" data-ng-show="$ctrl.editing" data-ng-click="$ctrl.updateAd()">
                salvar
            </button>
            <button type="button" class="btn pull-right mg-tp-15 hidden-xs-only" data-ui-sref="main.details.rating" data-ng-show="($ctrl.currentUser.cpf != ad.id) && $ctrl.userIsLogged">
                avaliar
            </button>
            <button type="button" class="btn pull-right mg-tp-15 hidden-xs-only" data-ng-show="$ctrl.currentUser.cpf == ad.id && !$ctrl.editing" data-ng-click="$ctrl.toogleEdit()">
                editar
            </button>
            <button type="button" class="btn pull-right mg-tp-15 hidden-xs-only" data-ng-show="$ctrl.editing" data-ng-click="$ctrl.updateAd()">
                salvar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card" ng-repeat="rating in $ctrl.ratings">
                <div class="card-header">
                    <div class="right" ng-if="posterName">
                        <span class="avatar-character img-circle">C</span><!--
                     --><div class="texts">
                            <span class="block mg-lt-5 text-ellipsis">Charles Fortes</span>
                        </div>
                    </div>
                    <div class="left">
                        <i class="material-icons mg-tp-15 color text-success" ng-if="rating.liked == 1">thumb_up</i>
                        <i class="material-icons mg-tp-15 color text-error" ng-if="rating.liked == 0">thumb_down</i>
                    </div>
                </div>
                <div class="card-body pd-lt-15 pd-rt-15 pd-bt-15">
                    <span class="mg-bt-15 color text-secondary-black">"{{rating.description}}"</span>
                </div>
            </div>
        </div>
    </div>
</div>
