<div class="structure" style="background: white; width: 320px;">
    <div class="structure-header">
        <div class="left">
            <div class="texts">
                <span class="headline color text-primary" title="{{title}}">{{title}}</span>
            </div>
        </div>
    </div><!-- end header -->
    <div class="structure-body">
        <p class="subheading color text-secondary-black" style="margin: 0;">{{text}}</p>
    </div><!-- end body -->
    <div class="structure-footer">
        <div class="right">
            <button class="btn type-flat mini" ng-click="cancel()" translate>{{dismissText}}</button>
            <button class="btn type-flat color-accent mini" ng-click="ok()" translate>{{confirmText}}</button>
        </div>
    </div><!-- end footer -->
</div>
