<div class="absolute pd-bt-30 full-width clearfix">
    <div class="col-xs-12">
        <h3 class="color text-primary">
            <span>Solicitações de cadastro</span>
        </h3>
        <table class="mini table-card">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th></th><!-- actions -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pivot">Emerson dos Santos</td>
                    <td data-th="CPF">09919876670</td>
                    <td data-th="Telefone">31900876767</td>
                    <td data-th="E-mail">emerson.santos@mail.com</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                <i class="material-icons">close</i>
                            </button>
                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                <i class="material-icons">check</i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pivot">Carlos Antônio</td>
                    <td data-th="CPF">19987656617</td>
                    <td data-th="Telefone">31980897867</td>
                    <td data-th="E-mail">carl.ant02@mail.com</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                <i class="material-icons">close</i>
                            </button>
                            <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                <i class="material-icons">check</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 mg-tp-30">
        <h3 class="color text-primary">
            <span>Solicitações de anúncios</span>
        </h3>
        <div class="row"><!-- repeat aqui -->
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header bordered">
                        <div class="left">
                            <div class="texts">
                                <span class="headline color text-primary">Emerson Souza</span>
                            </div>
                        </div>
                        <div class="right">
                            <button class="btn type-flat icon-24" ng-click="hideContent = !hideContent" ng-init="hideContent = true">
                                <i class="material-icons" ng-show="hideContent">keyboard_arrow_down</i>
                                <i class="material-icons" ng-show="!hideContent">keyboard_arrow_up</i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body pd-15" ng-hide="hideContent">
                        <span class="subheading block color text-primary mg-bt-15">
                            Informações básicas
                        </span>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 mg-bt-15">
                                <span class="block"><b>CPF</b></span>
                                <span class="block">09887867716</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 mg-bt-15">
                                <span class="block"><b>Telefone</b></span>
                                <span class="block">31988987876</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 mg-bt-15">
                                <span class="block"><b>E-mail</b></span>
                                <span class="block">merson@mail.com</span>
                            </div>
                        </div>
                        <hr>
                        <span class="subheading block color text-primary mg-bt-15">
                            Anúncio
                        </span>
                        <div class="row">
                            <div class="col-xs-12 mg-bt-15">
                                <span class="block"><b>Categoria</b></span>
                                <span class="block">Engenharia</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="block"><b>Descrição</b></span>
                                <span class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident expedita, accusantium neque eius deleniti eligendi molestiae veritatis cumque, quas, mollitia cupiditate. Repellat facilis, eligendi pariatur, hic vel porro voluptatibus nihil rerum aliquid velit eos amet dolores vitae ratione temporibus nam!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" ng-hide="hideContent">
                        <div class="right">
                            <div class="btn-group">
                                <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                    <i class="material-icons">close</i>
                                </button>
                                <button class="btn type-flat icon-24" ng-click="showModerationDialog = true">
                                    <i class="material-icons">check</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
